<!-- navbar.component.html -->

<div class="row" id="navbar">
  <button type="button" class="btn" id="boards-button"> <img src="./assets/trello-mark-white.png" alt="trello-mark-white" class="btn-img"><span id="button-text">Boards</span></button>

  <form class="search-form">
    <input class="nav-search" type="search" aria-label="Search">
    <button type="button" name="button" id="search-icon"><input type="image" id="search-button" src="./assets/search.png"></button>
  </form>

  <img src="./assets/trello-logo-navbar.png" alt="trello-logo-navbar" id="navbar-logo">
</div>
