<!-- navbar.component.html -->

<div class="row" id="navbar">
  <a routerLink="" class="btn" id="boards-button">
    <img src="./assets/trello-mark-white.png" alt="trello-mark-white" class="btn-img"><span id="button-text">Boards</span>
  </a>

  <div class="navbarSearch">
    <form class="search-form">
      <input class="nav-search" type="search" aria-label="Search">
      <button type="button" name="button" id="search-icon">
        <input type="image" id="search-button" src="./assets/search.png">
      </button>
    </form>
  </div>

  <a routerLink="">
    <img src="./assets/trello-logo-navbar.png" alt="trello-logo-navbar" id="navbar-logo">
  </a>
  <div class="login">
    <button type="button" class="btn" id="login-button">
      <span id="login-text">Log In</span>
    </button>
  </div>
</div>
